/* Vienna Dark - Theme */
/* by Pedro Lucas Porcellis (http://porcellis.com */
/* Based on original design from Pedro Laguna (http://www.pdrlaguna.com) */
/* Created to be used on our Components page @ Farmbox (http://www.farmbox.com.br) */
/* 6, May of 2017 - While listening DAMN. album from Kendrick Lamar */

/* Vienna Dark Comment */
.hljs-comment,
.hljs-quote {
  color: #8F9EC3;
}

/* Vienna Dark - Red */
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-regexp,
.hljs-link,
.hljs-tag,
.hljs-selector-id,
.hljs-selector-class {
  color: #D3AEED;
}

/* Vienna Dark - Orange */
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #aa573c;
}

/* Vienna Dark - Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #D9E8F5;
}

/* Vienna Dark - Blue */
.hljs-title,
.hljs-section {
  color: #576ddb;
}

/* Vienna Dark - Light Blue */
.hljs-keyword,
.hljs-name,
.hljs-selector-tag {
  color: #D9E8F5;
}

.hljs-deletion,
.hljs-addition {
  color: #19171c;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #be4678;
}

.hljs-addition {
  background-color: #2a9292;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #343C4D;
  color: #FFFFFF;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
